:root {
    --font-sans: 'Pretendard-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-serif: 'RIDIBatang', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-script: 'Cafe24Shiningstar', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-heading: 'GmarketSansMedium', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	
    --profile-img: url(https://nng-phinf.pstatic.net/MjAyNTA1MTBfMTY2/MDAxNzQ2ODcwNTQ0MjA1.TK5k3U9MbcHgTeYOWyCQcIhJapAwh9SFa_KZ5ebZ9XYg.fmeJOOGRWXYQ4JrCIVwxrIC8b_6XIbpA-C2lzHbu-ssg.JPEG/NNG-17468705437262565249400516776034.jpg);

    --body-background: #FFF6B0;
    --item-background: #FFD818;
}
